.content1{
    text-align: center;
}

table {
    width: 700px;
    margin: 15px auto;
    border: 1px solid black;
}

tr {
    width: 100px;
    border: 0px solid white;
}

th {
    text-align: center;
    background-color: rgb(224, 224, 224);
    border: 0px solid white;
}

.th1 {
    width: 350px;
}

td {
    background-color: rgb(255, 111, 86);
    border: 0px solid white;
    text-align: left;
}

