.content1{
    text-align: center;
}

tr {
    width: 100px;
    border: 0px solid white;
}

.th1 {
    width: 350px;
}

h1{
    text-align: center;
  }
  
  th{
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    background-color: #ffdaa3;
  }
  td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    background-color: #fff9f0;
  }
  
  table {
    border-collapse: collapse;
    border: 1px solid #ddd;;
    width: 50%;
    margin: 0 auto;
  }
  
  form{
    text-align: center;
  }
  
  label{
    font-weight: bold;
    margin-right: 10px;
  }
  